<h2>Friend Requests</h2>

<ul>
<% @user.friendships_as_receiver.where(status: false).select do |friendship| %>

<li><%= friendship.friend1.name %> wants to be your friend</li>

<%= form_for friendship, url: user_friendship_path(user_id: @user.id, id: friendship.id), method: :put do |t| -%>
  <%= t.hidden_field :id, value: @user.id -%>
  <%= t.submit 'Accept' -%>
<%- end -%>

<%= form_for friendship, url: user_friendship_path(user_id: @user.id, id: friendship.id), method: :delete do |t| -%>
  <%= t.hidden_field :id, value: @user.id -%>
  <%= t.hidden_field :operation, value: 'receive' -%>
  <%= t.submit 'Decline' -%>
<%- end -%>
<% end %>
</ul>